/* STYLE */


*{
    margin:0;
    padding:0;
}
.hidethis{
    visibility: hidden !important;
}

#overlay-body{
    opacity: .4;
    height: 900px;
    width: 1600px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
}
h1{
    font-size: 75px;
    color: white;
    opacity: .8;
}
h3{
    font-size: 40px;
    color: darkgray;
    opacity: .6;
}
#body{
    /* background-image: url("../images/spooky_forest.jpg"); */
    background-image: url("../images/spooky_forest.png");
    background-size: 1600px 900px;

    opacity: 1;
    background-repeat: none;
    background-color: rgb(169, 169, 169);
}
.ghost-holder{
    position: absolute;
}
.ghost-body{
    opacity: .5;
    height: 300px;
    position: absolute;
    top: 500px;
    left: 250px;
    z-index: 5;
}
#ghost1{ 
    
    top: 200px;
    left: 100px;
    z-index: 5;
}
#ghost2{
   
    top: 100px;
    left: 400px;
    z-index: 5;
}
#ghost3{
    
    top: 300px;
    left: 700px;
    z-index: 5;
}
#ghost4{  
    top: 200px;
    left: 1000px;
    z-index: 5;
}


.trans{
    background-color: transparent;
}

.btn{
    background-color: black;
    color: white;
    font-family: 'Kirang Haerang', cursive;
    font-size: 250%;
    font-weight: bold;
    padding: 15px;
    opacity: .6;
    border-style: none;
    float: center;
    margin: 5px 15px 5px 15px;
    z-index: 15;
}

#btm-select-area{
    position: absolute;
    top: 70%;
}

#welcome_text{
    background-color: black;
    font-family: 'Kirang Haerang', cursive;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30%;
}